/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #333;
}

img {
	max-width: 100%;
	height: auto;
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

a {
	color: #d59541;
}

.large-hero {
	border-bottom: 10px solid #2f5572;
	position: relative;
}

.large-hero__image {
		display: block;
	}

.large-hero__text-content {
		padding-top: 88px;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		        transform: translateY(-50%);
		left: 0;
		width: 100%;
		text-align: center;
	}

@media (min-width: 800px) {

.large-hero__text-content {
			padding-top: 60px
	}
	}

.large-hero__title {
		font-weight: 300;
		color: #2f5572;
		margin: 0;
		font-size: 2.4rem;
	}

@media (min-width: 530px) {

.large-hero__title {
			font-size: 4.8rem
	}
	}

.large-hero__subtitle {
		font-weight: 300;
		color: #2f5572;
		font-size: 1.5rem;
		margin: 0;
	}

@media (min-width: 530px) {

.large-hero__subtitle {
			font-size: 2.9rem
	}
	}

.large-hero__description {
		color: #ffffff;
		font-size: 1.1rem;
		font-weight: 100;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
		max-width: 30rem;
		margin-left: auto;
		margin-right: auto;
	}

@media (min-width: 530px) {

.large-hero__description {
			font-size: 1.875rem
	}
	}

.btn {
	background-color: #2f5572;
	color: #FFF;
	text-decoration: none;
	padding: .75rem 1.2rem;
	display: inline-block;
	text-align: right;
}

.btn--orange {
		background-color: #d59541;
		text-align: center;
	}

.btn--large {
		padding: 1.1rem 1.9rem;
	}

@media (min-width: 530px) {

.btn--large {
			font-size: 1.25rem
	}
	}

.wrapper {
	overflow: hidden;
	padding-left: 18px;
	padding-right: 18px;
	max-width: 1236px;
	margin-left: auto;
	margin-right: auto;
}

.wrapper--medium {
		max-width: 976px;
	}

.wrapper--no-padding-until-medium {
		padding-left: 0;
		padding-right: 0;
	}

@media (min-width: 800px) {

.wrapper--no-padding-until-medium {
			padding-left: 18px;
			padding-right: 18px
	}
	}

.wrapper--no-padding-until-large {
		padding-left: 0;
		padding-right: 0;
	}

@media (min-width: 1010px) {

.wrapper--no-padding-until-large {
			padding-left: 18px;
			padding-right: 18px
	}
	}

.wrapper .wrapper {
		padding-left: 0;
		padding-right: 0;
	}

.wrapper--b-margin {
		margin-bottom: 1rem;
	}

@media (min-width: 530px) {

.wrapper--b-margin {
			margin-bottom: 3.875rem
	}
	}

.page-section {
	padding: 1.2rem 0;
}

@media (min-width: 800px) {

.page-section {
		padding: 4.5rem 0
}
	}

.page-section--no-b-padding-until-medium {
		padding-bottom: 0;
	}

@media (min-width: 800px) {

.page-section--no-b-padding-until-medium {
			padding-bottom: 4.5em
	}
	}

.page-section--no-b-padding-until-large {
		padding-bottom: 0;
	}

@media (min-width: 1010px) {

.page-section--no-b-padding-until-large {
			padding-bottom: 4.5em
	}
	}

.page-section--blue {
		background-color: #2f5572;
		color: #ffffff;
	}

.page-section--testimonials {
		background-color: #e0e6ef;
	}

@media (min-width: 1010px) {

.page-section--testimonials {
			background: url('/assets/images/testimonials-bg.jpg') top center no-repeat;
			background-size: cover
	}
	}

.headline {
	font-size: 1.9rem;
	font-weight: 300;
	color: #2f5572;
}

@media (min-width: 530px) {

.headline {
		font-size: 2.875rem
}
	}

.headline--centered {
		text-align: center;
	}

.headline--orange {
		color: #d59541;
	}

.headline--small {
		font-size: 1.2rem;
	}

@media (min-width: 530px) {

.headline--small {
			font-size: 1.875rem
	}
	}

.headline--narrow {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}

.headline--light {
		font-weight: 100;
	}

.headline--b-margin-small {
		margin-bottom: .5em;
	}

.headline--b-margin-large {
		margin-bottom: 1.6em;
	}

.headline--no-t-margin {
		margin-top: 0;
	}

.row::after {
		content: "";
		clear: both;
		display: table;
	}

.row--t-padding {
		padding-top: 80px;
	}

.row--gutters {
		margin-right: -65px;
	}

.row--gutters-large {
		margin-right: -100px;
	}

.row--gutters-small {
		margin-right: -45px;
	}

.row--gutters > div {
		padding-right: 65px;
	}

.row--gutters-large > div {
		padding-right: 100px;
	}

.row--gutters-small > div {
		padding-right: 45px;
	}

.row__b-margin-until-medium {
		margin-bottom: 1rem;
	}

@media (min-width: 800px) {

		.row__b-margin-until-medium {
			margin-bottom: 0;
		}

		.row__medium-4 {
			float: left;
			width: 33.33%;
		}

		.row__medium-4--larger {
			width: 37%;
		}

		.row__medium-6 {
			float: left;
			width: 50%;
		}
	
		.row__medium-8 {
			float: left;
			width: 66.66%;
		}

		.row__medium-8--smaller {
			width: 63%;
		}
	}

@media (min-width: 1010px) {

		.row__b-margin-until-large {
			margin-bottom: 0;
		}

		.row__large-4 {
			float: left;
			width: 33.33%;
		}

		.row__large-4--larger {
			width: 37%;
		}

		.row__large-6 {
			float: left;
			width: 50%;
		}

		.row__large-8 {
			float: left;
			width: 66.66%;
		}

		.row__large-8--smaller {
			width: 63%;
		}
	}

/* Begin Equal Height Rules */

@media (min-width: 800px) {

.row--equal-height-at-medium {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex
	}
	}

.row--equal-height-at-medium > div {
			float: none;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
		}

@media (min-width: 1010px) {

.row--equal-height-at-large {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex
	}
	}

.row--equal-height-at-large>div {
			float: none;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
		}

.generic-content-container p {
		font-weight: 300;
		line-height: 1.65;
		margin: 0 0 1.8rem 0;
	}

@media (min-width: 530px) {

.generic-content-container p {
			font-size: 1.125rem
	}
	}

.generic-content-container p a {
		font-weight: 700;
	}

.section-title {
	font-size: 2.55rem;
	font-weight: 300;
	text-align: center;
}

@media (min-width: 530px) {

.section-title {
		font-size: 3.75rem
}
	}

.section-title strong {
		font-weight: 500;
	}

.section-title--blue {
		color: #2f5572;
	}

.section-title__icon {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: .6rem;
	}

@media (min-width: 530px) {

.section-title__icon {
			position: relative;
			top: 8px;
			margin-right: .5rem;
			margin-right: 0;
			margin-bottom: 0;
			display: inline-block
	}
	}

.feature-item {
	position: relative;
	padding-bottom: 2.5rem;
}

@media (min-width: 530px) {

.feature-item {
		padding-left: 94px
}
	}

.feature-item__icon {
		display: block;
		margin: 0 auto;
	}

@media (min-width: 530px) {

.feature-item__icon {
			position: absolute;
			left: 0
	}
	}

.feature-item__title {
		font-size: 1.6rem;
		font-weight: 300;
		margin-top:  .7rem;
		margin-bottom: .8rem;
		text-align: center;
	}

@media (min-width: 530px) {

.feature-item__title {
			text-align: left;
			margin-top: 1em;
			font-size: 1.875rem
	}
	}

.testimonial {
	background-color: rgba(255, 255, 255, .8);
	padding: 0 18px 1px 18px;
	margin-bottom: 98px;
}

@media (min-width: 1010px) {

.testimonial {
		padding: 0 1.8125rem 1px 1.8125rem;
		margin-bottom: 0
}
	}

.testimonial--last {
		margin-bottom: 0;
	}

.testimonial__photo {
		border-radius: 80px;
		overflow: hidden;
		width: 160px;
		height: 160px;
		margin: 0 auto -80px auto;
		position: relative;
		top: -80px;
		border: 6px solid rgba(255, 255, 255, .8);
	}

.testimonial__title {
		color: #2f5572;
		text-align: center;
		font-size: 1.5rem;
		font-weight: 500;
		margin: 0;
	}

.testimonial__subtitle {
		color: #d59541;
		text-align: center;
		font-size: 0.9375rem;
		font-weight: 400;
		margin: .25rem 0 1rem 0;
	}

/* Do not edit modules/_sprite directly as it generated automaticaly by Gulp. Instead edit Gulp/templates/sprite */

.icon {
			background-image: url('/assets/images/sprites/sprite-d675eadb.svg');
		}

.icon--clear-view-escapes {
		width: 142.4px;
		height: 59.53px; 
		background-position: 0 0;
	}

.icon--comment {
		width: 64px;
		height: 64px; 
		background-position: 99.70443349753694% 0;
	}

.icon--facebook {
		width: 21.23px;
		height: 42.01px; 
		background-position: 26.040607071652357% 45.795830448496034%;
	}

.icon--fire {
		width: 56px;
		height: 64px; 
		background-position: 0 99.56481481481481%;
	}

.icon--globe {
		width: 64px;
		height: 64px; 
		background-position: 27.586206896551722% 99.56481481481481%;
	}

.icon--instagram {
		width: 42.01px;
		height: 42.01px; 
		background-position: 63.2917018534157% 49.234556504346486%;
	}

.icon--mail {
		width: 64px;
		height: 48px; 
		background-position: 0 48.00806451612903%;
	}

.icon--rain {
		width: 64px;
		height: 64px; 
		background-position: 99.70443349753694% 59.25925925925926%;
	}

.icon--star {
		width: 64px;
		height: 64px; 
		background-position: 59.11330049261084% 99.56481481481481%;
	}

.icon--twitter {
		width: 51.78px;
		height: 42.06px; 
		background-position: 94.04330452560171% 98.50700323226104%;
	}

.icon--wifi {
		width: 60px;
		height: 64px; 
		background-position: 68.79227053140097% 0;
	}

.icon--youtube {
		width: 34.75px;
		height: 42px; 
		background-position: 36.69752421959096% 45.792307692307695%;
	}

.site-footer {
	background-color: #2f5572;
	color: #ffffff;
	padding: .5rem 0;
	text-align: center;
}

.site-footer__text {
		display: block;
		margin-bottom: 1rem;
		font-weight: 200;
	}

@media (min-width: 800px) {

.site-footer__text {
			display: inline;
			margin-bottom: 0;
			margin-right: 1.4rem
	}
	}

.site-header {
	padding: 10px 0;
	position: absolute;
	width: 100%;
	z-index: 2;
	-webkit-transition: background-color .3s ease-out;
	transition: background-color .3s ease-out;
}

.site-header--is-expanded {
		background-color: rgba(47,85,114, .55)
	}

@media (min-width: 800px) {

.site-header {
		background-color: rgba(47,85,114, .3)
}
	}

@media (min-width: 800px) {

.site-header__btn-container {
			float: right
	}
	}

.site-header__logo {
		position: absolute;
		top: 0;
		left: 50%;
		-webkit-transform: translateX(-50%) scale(.8);
		        transform: translateX(-50%) scale(.8);
		-webkit-transform-origin: 50% 0;
		        transform-origin: 50% 0;
		background-color: #2f5572;
		padding: 25px 36px;
	}

@media (min-width: 800px) {

.site-header__logo {
			left: auto;
			-webkit-transform: translateX(0);
			        transform: translateX(0)
	}
	}

.site-header__logo__graphic {
		text-indent: -9999px;
	}

.site-header__menu-icon {
		width: 20px;
		height: 19px;
		position: absolute;
		z-index: 10;
		top: 10px;
		right: 10px;	
	}

.site-header__menu-icon::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #FFF;
			-webkit-transform-origin: 0 0;
			        transform-origin: 0 0;
			-webkit-transition: -webkit-transform .3s ease-out;
			transition: -webkit-transform .3s ease-out;
			transition: transform .3s ease-out;
			transition: transform .3s ease-out, -webkit-transform .3s ease-out;
		}

.site-header__menu-icon__middle {
			position: absolute;
			top: 8px;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #FFF;
			-webkit-transition: all .3s ease-out;
			transition: all .3s ease-out;
			-webkit-transform-origin: 0 50%;
			        transform-origin: 0 50%;
		}

.site-header__menu-icon::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #FFF;
			-webkit-transform-origin: 0 100%;
			        transform-origin: 0 100%;
			-webkit-transition: -webkit-transform .3s ease-out;
			transition: -webkit-transform .3s ease-out;
			transition: transform .3s ease-out;
			transition: transform .3s ease-out, -webkit-transform .3s ease-out;
		}

@media (min-width: 800px) {

.site-header__menu-icon {
			display: none	
	}
	}

.site-header__menu-icon--close-x::before {
			-webkit-transform: rotate(45deg) scaleX(1.25);
			        transform: rotate(45deg) scaleX(1.25);
		}

.site-header__menu-icon--close-x .site-header__menu-icon__middle {
			opacity: 0;
			-webkit-transform: scaleX(0);
			        transform: scaleX(0);
		}

.site-header__menu-icon--close-x::after {
			-webkit-transform: rotate(-45deg) scaleX(1.25) translateY(1px);
			        transform: rotate(-45deg) scaleX(1.25) translateY(1px);
		}

.site-header__menu-content {
		opacity: 0;
		-webkit-transform: scale(1.2);
		        transform: scale(1.2);
		-webkit-transition: all .3s ease-out;
		transition: all .3s ease-out;
		position: relative;
		z-index: -10;
		padding-top: 90px;
		text-align: center;
	}

@media (min-width: 800px) {

.site-header__menu-content {
			opacity: 1;
			z-index: 1;
			padding-top: 0;
			-webkit-transform: scale(1);
			        transform: scale(1)
	}
	}

.site-header__menu-content--is-visible {
			opacity: 1;
			z-index: 1;
			-webkit-transform: scale(1);
			        transform: scale(1);
		}

.primary-nav {
	padding-top: 10px;
}

@media (min-width: 800px) {

.primary-nav {
		padding-top: 0
}
	}

@media (min-width: 800px) {

.primary-nav--pull-right {
			float: right
	}
	}

.primary-nav ul {
		margin: 0;
		padding: 0;
	}

.primary-nav ul::after {
		content: "";
		clear: both;
		display: table;
	}

.primary-nav li {
		list-style: none;
		display: inline-block;
		padding-right: 7px;
	}

@media (min-width: 800px) {

.primary-nav li {
			padding-right: 20px;
			float: left;
			display: block
	}
	}

.primary-nav li:last-child {
		padding-right: 0;
	}

@media (min-width: 800px) {

.primary-nav li:last-child {
			padding-right: 20px
	}
	}

.primary-nav a {
		color: #FFF;
		font-weight: 300;
		text-decoration: none;
		display: block;
		padding: 5px 8px;
		font-size: .8rem;
		background-color: rgba(47,85,114, .5);
	}

@media (min-width: 800px) {

.primary-nav a {
			font-size: 1rem;
			padding: 12px 0;
			background-color: transparent
	}
	}

.reveal-item {
	opacity: 0;
	-webkit-transition: opacity 1.5 ease-out;
	transition: opacity 1.5 ease-out;
}

.reveal-item--is-visible {
		opacity: 1;
	}